html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/backdrops/amallal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

h1 {
    font-size: 12px;
    font-family: GothamNarrow, mad-serif;
    color: #555555;
    text-align: center;
}

.top-row div img, .portals div img, .bottom-left div img, .bottom-right div img { 
    z-index: -5;
    object-fit: cover;
 }

.top-row {
    height: calc(100vh / 3);
}

#top-panel-left {
    outline: solid white;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_toprow_medium.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#top-panel-center {
    outline: solid white;
    width: calc(100vw / 2);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_toprow_long.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#top-panel-right {
    outline: solid white;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_toprow_medium.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.bottom-left {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: left;
}

#anomie-marquee {
    width: 100%;
    height: calc(100vh / 3);
    background-color: #EEEEEE;
}

.portals {
    width: inherit;
    height: calc(100vh / 3);
    float: bottom;
}

#portal-a, #portal-b, #portal-c, #portal-d {
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_short.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #555555;
}

#portal-a:hover, #portal-b:hover, #portal-c:hover, #portal-d:hover {
    background-color: transparent;
}

.bottom-left div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #EEEEEE;
  right: -6px;
  top: 0;
  z-index: 1000;
}


.bottom-right {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: right;
}

#bottom-panel-left {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom-panel-right {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: right;
}

#bottom-octagon {
    width: inherit;
    height: calc(100vh / 3);
    float: inherit;
    background-image: url('../images/archFrames/nav_window.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bottom-star {
    width: inherit;
    height: calc(100vh / 3);
    float: right;
    background-image: url('../images/archFrames/star.svg');
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: center;
}

.svg-top div {
  position: relative;
}

.svg-top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: white;
  right: -3px;
  top: 0;
}

.svg-top div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: white;
  right: 0;
  top: -3px;
}