html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-width: 2px;
}

/*
body {
    background-image: url('../images/backdrops/amallal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}
*/

h1 {
    font-family: 'Gotham Narrow Book';
    text-align: center;
    font-size: 1.1em;
    color: #101011;
    text-align: center;
    letter-spacing: 0.03em;
}

h2 {
   font-family: 'Mad Serif Fill';
    text-align: center;
    font-size: 5.3em;

    color: #101011;
    text-align: center;

}

p {
    font-family: 'Gotham Narrow Medium';
    text-align: center;
    font-size: 0.8em;
    color: #555555;
    letter-spacing: 0.03em;
}

.top-row div img, .portals div img, .bottom-left div img, .bottom-right div img {
    z-index: -5;
    object-fit: cover;
 }

.top-row {
    height: calc(100vh / 3);
}

#top-panel-left {
    outline: solid #96969D;
    outline-width: 2px;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/dark-arch_toprow_medium.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

#top-panel-center {
    outline: solid #96969D;
    outline-width: 2px;
    width: calc(100vw / 2);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/dark-arch_toprow_long.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    
}

#top-panel-right {
    outline: solid #96969D;
    outline-width: 2px;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/dark-arch_toprow_medium.svg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 10;
}

#logo {
    width: calc(100vw / 8);
    height: calc(100vw / 6);
    display: inline-block;
    position: absolute;
    background-color: transparent;
    background-image: url('../images/LG_Logo_White.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: left bottom;
    transform: translate(-25%, -25%);
    border: 0;
}

#logo:after {
  display: none !important;
}

#day-countdown, #hour-countdown, #minute-countdown {
    padding-top: 15%;
}

#hour-countdown, #minute-countdown {
    width: calc(100vw / 4);
    height: inherit;
    float: left;
}

.top-row div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #101011;
  right: -6px;
  top: 0;
  z-index: 1000;

}

#hour-countdown:after, #minute-countdown:after {
  content: none;
  position: absolute;
  height: 100%;
  width: 0px;
  background: transparent;
  right: 0px;
  top: 0px;
}

.bottom-left {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: left;
}

#anomie-marquee {
    width: 100%;
    height: calc(100vh / 3);
    background-color: #101011;
    /*outline: solid #96969D;
    outline-offset: -3px;
    z-index: 10;*/
}

.portals {
    width: inherit;
    height: calc(100vh / 3);
    float: bottom;
}

#portal-a, #portal-b, #portal-c, #portal-d {
    /*outline: solid #96969D;*/
    /*outline-offset: -1.5px;*/
    /*z-index: 10;*/
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/dark-arch_short.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1F1F22;
    background-position: bottom;
}

#portal-a:hover, #portal-b:hover, #portal-c:hover, #portal-d:hover {
    background-color: transparent;
}



.link-name {
<<<<<<< HEAD
    outline: none !important;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
 
}
.portal-holder{
    height:90%;
}

.portal-holder:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0;
    top: -2px;
}
=======
  outline: none !important;
  background-color: #101011;
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: center;

      margin-bottom: -0.2em;

}
.portal-holder{

  height:90%;
  background-image: url('../images/archFrames/dark-arch_short2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #555555;*/
   outline:#eee;
}

.portal-holder:before {
   content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #101011;
  right: 0;
  top: -2px;
>>>>>>> upstream/master

.portal-holder:hover {
    background-color: transparent;
}


.bottom-right {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: right;
}

#bottom-panel-left {
    /*outline: solid #96969D;*/
    outline-offset: -3px;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/dark-arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /*z-index: 10;*/
}

/*#bottom-panel-right {

  outline: solid #96969D;
  outline-offset: -3px;
    width: calc(100vw / 4);
    height: inherit;
    float: right;
    /*z-index: 10;  */


#bottom-panel-right {
  /*outline: solid #96969D;
    outline-offset: -3px;*/
    width: calc(100vw / 4);
    height: inherit;
    float: right;
    background-image: url('../images/archFrames/dark-oct_window.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*#bottom-star {
    width: inherit;
    height: calc(100vh / 3);
    float: right;
    background-image: url('../images/archFrames/star.svg');
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: center;
}*/

/*.bottom-left div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background: #EEEEEE;
  right: -3px;
  top: 0;
  z-index: 1000;
}*/

/*.bottom-right div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background: #EEEEEE;
  right: -3px;
  top: 0;
  z-index: 1000;
}*/

.svg-top div {
  position: relative;
}

.svg-top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #96969D;
  right: -2px;
  top: 0;
  z-index: 1000;
}

.portals > div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #96969D;
  right: 0;
  top: -2px;
  z-index: 100;
}


.countdown{
  display: flex;
  justify-content: center;

}

.countdown div:after {
  display: none !important
}

.countdown-type {
  margin-top: 12vh;
  margin-bottom: 0.6em;
}

.countdown-type, .countdown-time {
  /*border: solid red;*/
  height: 15%;
  width: 40%;
  position: relative;


}

.logo-star {
  margin-top: 14vh;
  margin-bottom: 0.6em;
   height: 15%;
  width: 25%;
  position: relative;
}


@media(max-width: 1200px) {
  #top-panel-right {
    display: none;
  }
  #bottom-panel-right {
    display: none;
  }
  #top-panel-left {
      width: calc(100vw / 2);
  }
  #bottom-panel-left {
      width: calc(100vw / 2);
  }
}

@media(min-width: 801px) {
  .mobile {
    display: none;
  }
}

@media(max-width: 800px) {
  .desktop {
    display: none;
  }
}
