body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
  top: 0;
}
.effects {
  position: absolute;
  right: 0;
  bottom: 0;
}

.effect {
  width: 50px;
  height: 50px;
  background: black;
  margin: 5px;
}

.jello-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
  top: 0;
}

.jello-controls {
 display: none;
}


.jello-canvas {
  position: absolute;
}



.marquee {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  vertical-align: middle;
}

.marquee h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  color: #555;
  z-index: 1000;
  font-size: 100px;
  font-family: GothamNarrow, mad-serif;
  top: 50%;
}

.marquee img {
  margin-top: 2px;
   height: calc(100% - 4px);
  margin-bottom: 2px;
  position: absolute;
/*display: inline-block;*/
  /*top:0;*/
  /*border: solid black;*/
  /*padding-right: 6em;*/


}

#a {
  /*border: solid blue;*/
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
 /*right: 2em;*/
  /*right: 2em;*/

}

#b {
  /*border: solid green;*/
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
  margin-left: 210%;


}




@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-108%, 0);
  }
}

@keyframes slide {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-106%, 0);
  }
}
