html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  background: #101110;
  box-sizing: border-box;
}

.mobile-site h1 {
  font-family: MAD Serif Fill;
  font-size: 2.2em;
  color: #96969D;
  padding-top: 0.1em;
}

.mobile-site h3 {
  font-family: Gotham Narrow Book;
  font-size: 1em;
  color: #96969D;
}

.mobile-site {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}



.images {
  width: 100%;
  height: 100%;
  background: #101110;
}

/*.swiper-container {
  overflow: visible !important;
}*/

.mobile-container {
  position: absolute;
  width: 100%;
  height: 82%;
  bottom: 0;
}

.box1 {
  width: 100%;
  height: 3em;
  display: flex;
}

.box2 {
  width: 100%;
  height: calc(100% - 6em);
  display: flex;

}

.box3 {
  width: 100%;
  height: 3em;
  display: flex;

}

.box1>div{
  border-top: solid #96969D;
  border-bottom: solid #96969D;
  border-width: 2px;
  height: 100%;
}

.box3>div {
  border-top: solid #96969D;
  
  border-width: 2px;
  height: 100%;
}

.box2>div {
  height: 100%;
  border-width: 2px;
  align-content: center;
}

.box2 img {
    display: block;
    position: relative;
    margin: auto auto;
    width: 60%;
    height: 100%;
}

#box1-1, #box2-1, #box3-1 {
  border-right: solid #96969D;

  width: 3em;
  float: left;
}

#box1-3, #box2-3, #box3-3 {
  width: 3em;
   border-left: solid #96969D;
  float: right;
}

#box1-2, #box2-2, #box3-2{
  width: calc(100% - 6em);
}


#switch-text {
      height: 3em;
    line-height: 3em;
    text-align: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*.ANOMIE {
  position: absolute;
  user-select: none;
  pointer-events: none;
  color: #fff;
  font-size: 90px;
  margin: 0;
  font-family: "Mad Serif Fill";
  z-index: 1000;
  font-weight: 300;
  margin: 0;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
}*/

.mobile-site #anomie-marquee {
  position: absolute;
  user-select: none;
  pointer-events: none;
  height: 18% !important;
  margin: 0;
  color: #fff;
}
.mobile-site #anomie-marquee img {
  height: 100%;
  margin: 0;
}

.text {
  width: 100%;
  position: absolute;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  margin: 0;
}


.nav-item {
  width: 50%;
  opacity: .5;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.swiper-slide-active{
   opacity:1;
 }






.arch {
  position: absolute;
  width: 80%;
    left: 10%;
    height: 90%;
  bottom: 0;
  background-position: center top;
  background-size: cover;
  z-index: 1000;

}

#m-one .arch {
  background-image: url("../images/archimg/Barreirinhas/1.png");
}

#m-two .arch {
  background-image: url("../images/archimg/Lago-azul/1.png");
}

#m-three .arch {
  background-image: url("../images/archimg/Sahara/1.png");
}

#m-four .arch {
  background-image: url("../images/archimg/Tofino/1.png");
}



#parallax, #parallaxb,
#parallaxc,
#parallaxd {
  width: 100%;
  height: 100%;
  position: absolute;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.parallax-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-size: cover;
  background-position: center top;
}

#m-one .aaaa {
  background-image: url("../images/archimg/Barreirinhas/2.png");
}

#m-one .bbbb {
  background-image: url("../images/archimg/Barreirinhas/3.png");
}

#m-one .cccc {
  background-image: url("../images/archimg/Barreirinhas/4.png");
}

#m-one .dddd {
  background-image: url("../images/archimg/Barreirinhas/5.png");
}

#m-one .eeee {
  background-image: url("../images/archimg/Barreirinhas/6.png");
}

#m-one .ffff {
  background-image: url("../images/archimg/Barreirinhas/7.png");
}

#m-one .gggg {
  background-image: url("../images/archimg/Barreirinhas/8.png");
}


#m-one .hhhh {
  background-image: url("../images/archimg/Barreirinhas/9.png");
}


#m-one .iiii {
  background-image: url("../images/archimg/Barreirinhas/10.png");
}

#m-two .aaaa {
  background-image: url("../images/archimg/Lago-azul/2.png");
}

#m-two .bbbb {
  background-image: url("../images/archimg/Lago-azul/3.png");
}

#m-two .cccc {
  background-image: url("../images/archimg/Lago-azul/4.png");
}

#m-two .dddd {
  background-image: url("../images/archimg/Lago-azul/5.png");
}

#m-two .eeee {
  background-image: url("../images/archimg/Lago-azul/6.png");
}

#m-two .ffff {
  background-image: url("../images/archimg/Lago-azul/7.png");
}

#m-two .gggg {
  background-image: url("../images/archimg/Lago-azul/8.png");
}


#m-two .hhhh {
  background-image: url("../images/archimg/Lago-azul/9.png");
}


#m-two .iiii {
  background-image: url("../images/archimg/Lago-azul/10.png");
}

#m-three .aaaa {
  background-image: url("../images/archimg/Sahara/2.png");
}

#m-three .bbbb {
  background-image: url("../images/archimg/Sahara/3.png");
}

#m-three .cccc {
  background-image: url("../images/archimg/Sahara/4.png");
}

#m-three .dddd {
  background-image: url("../images/archimg/Sahara/5.png");
}

#m-three .eeee {
  background-image: url("../images/archimg/Sahara/6.png");
}

#m-three .ffff {
  background-image: url("../images/archimg/Sahara/7.png");
}

#m-three .gggg {
  background-image: url("../images/archimg/Sahara/8.png");
}


#m-three .hhhh {
  background-image: url("../images/archimg/Sahara/9.png");
}


#m-three .iiii {
  background-image: url("../images/archimg/Sahara/10.png");
}

#m-four .aaaa {
  background-image: url("../images/archimg/Tofino/2.png");
}

#m-four .bbbb {
  background-image: url("../images/archimg/Tofino/3.png");
}

#m-four .cccc {
  background-image: url("../images/archimg/Tofino/4.png");
}

#m-four .dddd {
  background-image: url("../images/archimg/Tofino/5.png");
}

#m-four .eeee {
  background-image: url("../images/archimg/Tofino/6.png");
}

#m-four .ffff {
  background-image: url("../images/archimg/Tofino/7.png");
}

#m-four .gggg {
  background-image: url("../images/archimg/Tofino/8.png");
}


#m-four .hhhh {
  background-image: url("../images/archimg/Tofino/9.png");
}


#m-four .iiii {
  background-image: url("../images/archimg/Tofino/10.png");
}




.aaaa {
  width: calc(100% - 4%);
  height: calc(100% - 4%);
}

.bbbb {
  width: calc(100% - 8%);
  height: calc(100% - 8%);
}

.cccc {
  width: calc(100% - 12%);
  height: calc(100% - 12%);
}

.dddd {
  width: calc(100% - 16%);
  height: calc(100% - 16%);
}

.eeee {
  width: calc(100% - 20%);
  height: calc(100% - 20%);
}

.ffff {
  width: calc(100% - 24%);
  height: calc(100% - 24%);
}

.gggg {
  width: calc(100% - 28%);
  height: calc(100% - 28%);
}

.hhhh {
  width: calc(100% - 32%);
  height: calc(100% - 32%);
}

.iiii {
  width: calc(100% - 36%);
  height: calc(100% - 36%);
}


@media(min-width: 801px) {
  .mobile-menu {
    display: none;
  }
}

@media(max-width: 800px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 90vh;
    bottom: 0;
    background: #000;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }

  .mobile-menu.open {
    opacity: 1;
  }

  .mobile-menu ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
  }

  .mobile-menu ul li {
    color: #999;
    font-size: 40px;
    font-family: "Mad Serif Fill";
    margin-bottom: 50px;
    cursor: pointer;
  }

  #star {
    pointer-events: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(45deg);
    transform:  rotate(45deg);
    transform-origin: center center;
  }

  #nav-window.open #star {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
}

