html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  background: #333;
}
.mobile-site {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.images {
  width: 100%;
  height: 100%;
  background: #333;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.ANOMIE {
  position: absolute;
  user-select: none;
  pointer-events: none;
  color: #fff;
  font-size: 90px;
  margin: 0;
  font-family: "Mad Serif Fill";
  z-index: 1000;
  font-weight: 300;
  margin: 0;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
}


.text {
  top: -90vh;
  width: 100%;
  position: absolute;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  margin: 0;
}


.nav-item {
  width: 50%;
  font-size: 40px;
  font-family: "Mad Serif Fill";
  color: #999;
  opacity: .5;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.swiper-slide-active{
   opacity:1;
 }






.arch {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 80%;
  bottom: 0;
  background-position: center top;
  background-size: cover;
  z-index: 1000;

}

#m-one .arch {
  background-image: url("../images/archimg/Barreirinhas/1.png");
}

#m-two .arch {
  background-image: url("../images/archimg/Lago-azul/1.png");
}

#m-three .arch {
  background-image: url("../images/archimg/Sahara/1.png");
}

#m-four .arch {
  background-image: url("../images/archimg/Tofino/1.png");
}



#parallax, #parallaxb,
#parallaxc,
#parallaxd {
  width: 100%;
  height: 100%;
  position: absolute;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.parallax-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-size: cover;
  background-position: center top;
}

#m-one .parallax-img {
  background-image: url("../images/archimg/Barreirinhas/1.png");
}

#m-two .parallax-img {
  background-image: url("../images/archimg/Lago-azul/1.png");
}

#m-three .parallax-img {
  background-image: url("../images/archimg/Sahara/1.png");
}

#m-four .parallax-img {
  background-image: url("../images/archimg/Tofino/1.png");
}





.aaaa {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

.bbbb {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
}

.cccc {
  width: calc(100% - 150px);
  height: calc(100% - 150px);
}

.dddd {
  width: calc(100% - 200px);
  height: calc(100% - 200px);
}
