html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    padding: 0;

}

body {
    background-image: url('../images/backdrops/mirador.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

h1 { /* section title font */
    font-size: 36px;
    font-family: 'Mad Serif';
    color: black;
    text-align: left;
}

h2 { /* information section font */
    font-size: 12px;
    font-family: 'Gotham Narrow';
    font: 'Gotham Narrow Medium';
    color: black;
    text-align: left;
}

h3 { /* information subsection title font */
    font-size: 12px;
    font-family: 'Gotham Narrow Medium';
    color: #555555;
    text-align: left;
}

p { /* information font */
    font-size: 12px;
    font-family: 'Gotham Narrow Thin';
    color: #555555;
    text-align: left;
}

.top div img, .bottom div img { 
    z-index: -5;
    object-fit: cover;
 }

.top {
    height: calc(100vh / 3);
}

#nav-window {
    outline: solid white;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/nav_star_window.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#people-marquee {
    outline: solid white;
    width: calc(100vw /4 * 3);
    height: inherit;
    float: left;
    background-color: #EEEEEE;
}

.top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #EEEEEE;
  right: -6px;
  top: 0;
  z-index: 1000;
}

.bottom {
    width: 100vw;
    height: calc(100vh / 3 * 2);
    float: left;
}

#quad-a {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#quad-b {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: #EEEEEE;
}

#quad-c {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: #EEEEEE;
}

#quad-d {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #EEEEEE;
  right: -6px;
  top: 0;
  z-index: 1000;
}

.svg-top div {
  position: relative;
}

.svg-top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: white;
  right: -3px;
  top: 0;
}

.svg-top div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: white;
  right: 0;
  top: -3px;
}