html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    padding: 0;

}

body {
    background-image: url('../images/backdrops/amallal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

h1 {
    font-size: 12px;
    font-family: GothamNarrow, mad-serif;
    color: #555555;
    text-align: center;
}

.top div img, .bottom div img { 
    z-index: -5;
    object-fit: cover;
 }

.top {
    height: calc(100vh / 3);
}

#nav-window {
    outline: solid white;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/nav_window.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#ticket-marquee {
    outline: solid white;
    width: calc(100vw /4 * 3);
    height: inherit;
    float: left;
    background-color: #EEEEEE;
}

.top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #EEEEEE;
  right: -6px;
  top: 0;
  z-index: 1000;
}

.bottom {
    width: 100vw;
    height: calc(100vh / 3 * 2);
    float: left;
}

#ticket-window {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#ticket-info {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: #EEEEEE;
}

#merch-info {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: #EEEEEE;
}

#merch-window {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #EEEEEE;
  right: -6px;
  top: 0;
  z-index: 1000;
}

.svg-top div {
  position: relative;
}

.svg-top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: white;
  right: -3px;
  top: 0;
}

.svg-top div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: white;
  right: 0;
  top: -3px;
}