html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*body {
    background-image: url('../images/backdrops/baratikva.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}*/

h1 { /* section title font */
    font-size: 5.47em;
    font-family: 'Mad Serif Fill';
    color: #96969D;
    text-align: left;
}

h2 { /* information subsection title font */
    font-size: 12px;
    font-family: 'Gotham Narrow Thin Italic';
    color: #96969D;
    text-align: left;
}

h3 { /* information subsection title font */
    font-size: 1.2em;
    font-family: 'Gotham Narrow Book';
    color: #96969D;
    text-align: left;
}

h4 {
    font-size: 1.2em;
    line-height: 2em;
    font-family: 'Gotham Narrow Book';
    color: #96969D;
    text-align: left;
}

p { /* information font */
    font-size: 1.2em;
    font-family: 'Gotham Narrow Thin';
    color: #96969D;
    text-align: left;
    line-height: 1.2em;
}

.top div img, .bottom div img { 
    z-index: -5;
    object-fit: cover;
 }

.top {
    height: calc(100vh / 3);
}

#nav-window {
   /*outline: solid #96969D;*/
    /*outline-width: 2px;*/
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: transparent;
    background-image: url('../images/archFrames/dark-arch_toprow_medium.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

#logo-star {
    margin-top: 13vh;
    margin-bottom: 0.6em;
    height: 15%;
    width: 25%;
    position: relative;
}



#ticket-marquee {
    width: calc(100vw /4 * 3);
    /*outline: solid #96969D;*/
    /*outline-width: 2px;*/
    /*width: calc(100vw / 2);*/
    height: inherit;
    float: left;
    /*background-image: url('../images/archFrames/dark-arch_toprow_long.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    background-color: #101011;
}



.top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #101011;
  right: -6px;
  top: 0;
  z-index: 1000;
}

.bottom {
    width: 100vw;
    height: calc(100vh / 3 * 2);
    float: left;
}

#ticket-window {
    outline-offset: -3px;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: transparent;
    background-image: url('../images/archFrames/dark-arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#ticket-window:hover {
    background-color: #555555;
}

#ticket-info, #merch-info {
    /*outline: solid #96969D;
    outline-width: 2px;*/
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    word-wrap: break-word;
    background-color: #101011;
    padding: 2.3%;
}

#ticket-info img, #merch-info img {
  width: 100%;
}


#merch-window {
/*    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-image: url('../images/archFrames/arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;*/



    outline-offset: -3px;
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    background-color: transparent;
    background-image: url('../images/archFrames/dark-arch_tall.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #1E1E25;
  right: 0px;
  top: 0;
  z-index: 1000;
}

.svg-top div {
  position: relative;
}

#nav-window:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #1E1E25;
  right: 0px;
  top: 0;
  z-index: 1000;
}

#merch-window:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0px;
  background: #1E1E25;
  right: 0px;
  top: 0;
  z-index: 1000;
}

.svg-top div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1E1E25;
  right: 0;
  top: -2px;
  z-index: 100;
}